.row: .col: .button-bar
	button.button.button-block.button-balanced(ng-click="printBill()") Print Bill

.card
	ion-item.item-divider Extras
	ion-item(ng-repeat="item in BillsService.bill_items" style="padding: 8px 16px;")
		.row(style="padding: 0;")
			.col(style="padding: 10px 0;")
				h2(style="font-size: 16px; color: #444;") {{ item.name }}
			.col.text-right
				span(style="padding: 5px 0; display: inline-block;")
					span(ng-if="!item.is_percent") £
					| {{ item.price.toFixed(2) }}
					span(ng-if="item.is_percent") %
					| &nbsp;
				button.button.button-assertive.button-small(ng-click="setBillExtraQuantity(item, 0)" ng-if="item.quantity == 1 && item.is_percent") Remove
				button.button.button-stable.button-small(ng-click="setBillExtraQuantity(item, 1)" ng-if="item.quantity == 0 && item.is_percent") Add
				button.button.button-stable.button-small(ng-click="setBillExtraQuantity(item, item.quantity-1)" ng-if="!item.is_percent") -
				span(style="padding: 5px 0; margin-left: 3px;" ng-if="!item.is_percent") &nbsp;{{item.quantity}}&nbsp;
				button.button.button-stable.button-small(ng-click="setBillExtraQuantity(item, item.quantity+1)" ng-if="!item.is_percent") +

.card
	ion-item.item-divider
		strong Total paid
		span.item-note £{{ totals.paidFormatted }}
	ion-item.item-input(ng-repeat="payment_method in paid track by $index")
		span.input-label(ng-click="setAmountForPaymentMethod(payment_method)") {{ payment_method.name }}
		input(type="number" step="any" ng-model="payment_method.amount" ng-change="formatPaidTotal()")
	ion-item.item-divider(ng-if="totals.paidFormatted != totals.totalFormatted")
		span Left to pay
		span.item-note.assertive £{{ totals.leftPayFormatted }}
	ion-item.item-divider
		strong Total
		span.item-note(ng-class="{ assertive: totals.paidFormatted != totals.totalFormatted, balanced: totals.paidFormatted == totals.totalFormatted }") £{{ totals.totalFormatted }}

.row: .col
	br
	p(style="text-align: center;") Clear the table after the guests leave the table.
	.button-bar
		button.button.button-block(ng-click="saveBill()") Save
		button.button.button-balanced.button-block(ng-click="clearTable()" ng-disabled="totals.leftPay > 0" nav-direction="back") Save &amp; Clear Table