
<ion-modal-view>
  <ion-header-bar>
    <button ng-click="hideModal()" class="button">Close</button>
    <h1 class="title">Bills</h1>
  </ion-header-bar>
  <ion-content ng-controller="OrderBillsCtrl">
    <div class="row">
      <div class="col">
        <div class="button-bar">
          <button ng-click="printBill()" class="button button-block button-balanced">Print Bill</button>
        </div>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Extras</ion-item>
      <ion-item ng-repeat="item in BillsService.bill_items" style="padding: 8px 16px;">
        <div style="padding: 0;" class="row">
          <div style="padding: 10px 0;" class="col">
            <h2 style="font-size: 16px; color: #444;">{{ item.name }}</h2>
          </div>
          <div class="col text-right"><span style="padding: 5px 0; display: inline-block;"><span ng-if="!item.is_percent">£</span>{{ item.price.toFixed(2) }}<span ng-if="item.is_percent">%</span>&nbsp;</span>
            <button ng-click="setBillExtraQuantity(item, 0)" ng-if="item.quantity == 1 &amp;&amp; item.is_percent" class="button button-assertive button-small">Remove</button>
            <button ng-click="setBillExtraQuantity(item, 1)" ng-if="item.quantity == 0 &amp;&amp; item.is_percent" class="button button-stable button-small">Add</button>
            <button ng-click="setBillExtraQuantity(item, item.quantity-1)" ng-if="!item.is_percent" class="button button-stable button-small">-</button><span style="padding: 5px 0; margin-left: 3px;" ng-if="!item.is_percent">&nbsp;{{item.quantity}}&nbsp;</span>
            <button ng-click="setBillExtraQuantity(item, item.quantity+1)" ng-if="!item.is_percent" class="button button-stable button-small">+</button>
          </div>
        </div>
      </ion-item>
    </div>
    <div class="card">
      <ion-item class="item-divider"><strong>Total paid</strong><span class="item-note">£{{ totals.paidFormatted }}</span></ion-item>
      <ion-item ng-repeat="payment_method in paid track by $index" class="item-input"><span ng-click="setAmountForPaymentMethod(payment_method)" class="input-label">{{ payment_method.name }}</span>
        <input type="number" step="any" ng-model="payment_method.amount" ng-change="formatPaidTotal()"/>
      </ion-item>
      <ion-item ng-if="totals.paid &lt; totals.total" class="item-divider"><span>Left to pay</span><span class="item-note assertive">£{{ totals.leftPayFormatted }}</span></ion-item>
      <ion-item class="item-divider"><strong>Total</strong><span ng-class="{ assertive: totals.paid &lt; totals.total, balanced: totals.paid &gt;= totals.total }" class="item-note">£{{ totals.totalFormatted }}</span></ion-item>
      <ion-item ng-if="totals.paid &gt; totals.total" class="item-divider"><strong>Change</strong><span class="item-note balanced">£{{ totals.paid - totals.total | currency:"" }}</span></ion-item>
    </div>
    <div class="row">
      <div class="col"><br/>
        <p style="text-align: center;">Clear the table after the guests leave the table.</p>
        <div class="button-bar">
          <button ng-click="saveBill()" class="button button-block">Save</button>
          <button ng-click="clearTable()" ng-disabled="totals.leftPay &gt; 0" nav-direction="back" class="button button-balanced button-block">Save &amp; Clear Table</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>