
<ion-modal-view>
  <ion-header-bar>
    <button ng-click="hideModal()" class="button">Close</button>
    <h1 class="title">Bills</h1>
  </ion-header-bar>
  <ion-content ng-controller="OrderBillsCtrl">
    <div class="row">
      <div class="col">
        <div class="button-bar">
          <button ng-click="printBill()" class="button button-block button-balanced">Print Bill</button>
        </div>
      </div>
    </div>
    <div class="card">
      <ion-item class="item-divider">Extras</ion-item>
      <ion-item ng-repeat="item in BillsService.bill_items"><span>{{ item.name }}</span>
        <button style="min-height: 18px; line-height: 20px;" class="button button-stable button-small">+</button>
        <div class="item-note"><span ng-if="!item.is_percent">£</span>{{ item.price.toFixed(2) }}<span ng-if="item.is_percent">%</span></div>
      </ion-item>
    </div>
    <div class="card">
      <ion-item class="item-divider"><strong>Total paid</strong><span class="item-note">£{{ totals.paidFormatted }}</span></ion-item>
      <ion-item ng-repeat="payment_method in paid track by $index" class="item-input"><span ng-click="payment_method.amount = totals.total; formatPaidTotal()" class="input-label">{{ payment_method.name }}</span>
        <input type="number" step="any" ng-model="payment_method.amount" ng-change="formatPaidTotal()"/>
      </ion-item>
      <ion-item ng-if="totals.paidFormatted != totals.totalFormatted" class="item-divider"><span>Left to pay</span><span class="item-note assertive">£{{ totals.leftPayFormatted }}</span></ion-item>
      <ion-item class="item-divider"><strong>Total</strong><span ng-class="{ assertive: totals.paidFormatted != totals.totalFormatted, balanced: totals.paidFormatted == totals.totalFormatted }" class="item-note">£{{ totals.totalFormatted }}</span></ion-item>
    </div>
    <div class="row">
      <div class="col"><br/>
        <p style="text-align: center;">Clear the table after the guests leave the table.</p>
        <div class="button-bar">
          <button ng-click="saveBill()" class="button button-block">Save</button>
          <button ng-click="clearTable()" ng-disabled="totals.leftPay &gt; 0" nav-direction="back" class="button button-balanced button-block">Save &amp; Clear Table</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>