ion-view(view-title="Order Bills" cache-view="false")
	ion-nav-buttons(side="primary")
		button.button.back-button.button-clear(ui-sref="tabs.orders({ table_id: group.table_id })" direction="backwards")
			i.icon.ion-ios-arrow-back
			|  Order

	ion-content
		.card
			ion-item(ng-repeat="payment_method in payment_methods") {{ payment_method.name }}
				span.item-note £{{ payment_method.amountFormatted }}
			ion-item.item-divider
				strong Total to pay
				span.item-note(ng-class="{ assertive: totals.unpaid > 0, balanced: totals.unpaid == 0 }") £{{ totals.unpaid.toFixed(2) }}

		ion-list
			ion-item.item-divider Bills
			ion-item(ng-repeat="bill in bills" ui-sref="tabs.orderBill({ bill_id: bill.id, group_id: group.id })")
				| £{{ bill.total }}
				span.item-note.assertive(ng-if="!bill.paid") UNPAID (£{{ bill.total - bill.paid_amount }} to pay)
				span.item-note.balanced(ng-if="bill.paid") PAID

		.row(ng-if="totals.unpaid > 0 || bills.length == 0"): .col: button.button.button-positive.button-block(ui-sref="tabs.newOrderBill({ group_id: group.id })")
			i.icon.ion-ios-plus-empty
			| &nbsp;Create Bill

		.row(ng-if="totals.unpaid == 0 && bills.length > 0"): .col
			br
			p(style="text-align: center;") Clear the table after the guests leave the table.
			button.button.button-balanced.button-block(ui-sref="tabs.newOrderBill({ group_id: group.id })") Clear Table