.row: .col: .button-bar
	button.button.button-block.button-balanced(ng-click="printBill()") Print Bill

.card
	ion-item.item-divider Extras
	ion-item(ng-repeat="item in BillsService.bill_items")
		span {{ item.name }}
		button.button.button-stable.button-small(style="min-height: 18px; line-height: 20px;") +
		.item-note
			span(ng-if="!item.is_percent") £
			| {{ item.price.toFixed(2) }}
			span(ng-if="item.is_percent") %

.card
	ion-item.item-divider
		strong Total paid
		span.item-note £{{ totals.paidFormatted }}
	ion-item.item-input(ng-repeat="payment_method in paid track by $index")
		span.input-label(ng-click="payment_method.amount = totals.total; formatPaidTotal()") {{ payment_method.name }}
		input(type="number" step="any" ng-model="payment_method.amount" ng-change="formatPaidTotal()")
	ion-item.item-divider(ng-if="totals.paidFormatted != totals.totalFormatted")
		span Left to pay
		span.item-note.assertive £{{ totals.leftPayFormatted }}
	ion-item.item-divider
		strong Total
		span.item-note(ng-class="{ assertive: totals.paidFormatted != totals.totalFormatted, balanced: totals.paidFormatted == totals.totalFormatted }") £{{ totals.totalFormatted }}

.row: .col
	br
	p(style="text-align: center;") Clear the table after the guests leave the table.
	.button-bar
		button.button.button-block(ng-click="saveBill()") Save
		button.button.button-balanced.button-block(ng-click="clearTable()" ng-disabled="totals.leftPay > 0" nav-direction="back") Save &amp; Clear Table