ion-modal-view
	ion-header-bar
		h1.title {{ editedItem.item.name }}
	ion-content
		ion-list
			label.item.item-input.item-stacked-label
				span.input-label Item Notes
				textarea(placeholder="notes" ng-model="editedItem.notes")
			label.item.item-input.item-stacked-label
				span.input-label Quantity
				input(placeholder="Quantity" type="number" required min="1" ng-model="editedItem.quantity")

		.row: .col: h4 Modifiers

		ion-list
			div(ng-repeat="modifier_group in editedItem.item.modifier_objects")
				ion-item.item-divider(ng-class="{ assertive: modifier_group.error }") {{ modifier_group.name }}
					span(ng-if="modifier_group.choice_required") &nbsp;(required)
				ion-item.item-icon-right(ng-repeat="modifier in modifier_group.modifiers" ng-click="selectModifierForEditedItem(modifier_group, modifier)") {{ modifier.name }}
					span.item-note £{{ modifier.price.toFixed(2) }}
					i.icon.ion-ios-checkmark-empty.positive(ng-if="modifier.selected")

		.row: .col: button.button.button-assertive.button-block(ng-click="removeOrderItem(editedItem)")
			i.icon.ion-ios-trash-outline
			| &nbsp;Remove Item

	ion-footer-bar.bar-balanced(ng-click="closeEditItem()"): .title Save