ion-popover-view
	ion-header-bar
		h1.title Open Table
	ion-content
		ion-list
			div(ng-repeat="section in tableTypes")
				ion-item.item-divider {{ section.type.name }}
				ion-item(ng-repeat="table in section.tables | orderBy:'table_number'" ng-click="openTable(table)") {{ table.name }}