ion-view(view-title="{{ table.name }}")
	//- ion-nav-buttons(side="primary")
	//- 	button.button.back-button.button-clear(ui-sref="tables" direction="backwards")
	//- 		i.icon.ion-ios-arrow-back
	//- 		|  Tables
	ion-nav-buttons(side="secondary")
		button.button.button-balanced(ng-click="showAddOrder()") Add Course

	ion-content.has-header
		include orders.content.jade