ion-view(view-title="Open Tables" cache-view="false")
	ion-nav-buttons(side="primary")
		button.button.back-button.button-clear(ui-sref="home" direction="backwards" nav-direction="back")
			i.icon.ion-ios-arrow-back
			|  Dashboard

	ion-content
		.card(ng-repeat="table in openTables" ui-sref="orders({table_id: table.id})" direction="forward")
			.item.item-divider \#{{ table.table_number }} - {{ table.name }}
				small(ng-if="table.covers") &nbsp;({{ table.covers }} cover
					span(ng-if="table.covers > 1") s
					| )
			.item.item-text-wrap
				span(ng-if="table.last_printed_order") Last printed {{ table.last_printed_order_formatted }}
				small(ng-if="!table.last_printed_order") Never Printed
				.item-note {{ table.printedOrders }} / {{ table.orders }}

		.card(ng-if="openTables.length == 0")
			.item.item-text-wrap(style="text-align: center;") No Open Tables


		.padding: button.button.button-balanced.button-block(ng-click="popover.show($event)") Open Table