
<ion-view view-title="Open Tables" cache-view="false">
  <ion-nav-buttons side="primary">
    <button ng-click="popover.show($event)" class="button button-balanced">Open Table</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button ng-click="openConfig()" target="_system" class="button button-icon icon ion-ios-cog-outline"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-repeat="table in openTables" ui-sref="tabs.orders({table_id: table.id})" direction="forward" class="card">
      <div class="item item-divider">#{{ table.table_number }} - {{ table.name }}<small ng-if="table.covers">&nbsp;({{ table.covers }} cover<span ng-if="table.covers &gt; 1">s</span>)</small></div>
      <div class="item item-text-wrap"><span ng-if="table.last_printed_order">Last printed {{ table.last_printed_order_formatted }}</span><small ng-if="!table.last_printed_order">Never Printed</small>
        <div class="item-note">{{ table.printedOrders }} / {{ table.orders }}</div>
      </div>
    </div>
    <div ng-if="openTables.length == 0" class="card">
      <div style="text-align: center;" class="item item-text-wrap">No Open Tables</div>
    </div>
  </ion-content>
</ion-view>