ion-view(view-title="Open Tables" cache-view="false")
	ion-nav-buttons(side="primary")
		button.button.back-button.button-clear(ui-sref="home" direction="backwards" nav-direction="back")
			i.icon.ion-ios-arrow-back
			|  Dashboard

	ion-content
		include tables.content.jade