div(ng-controller="SetupLoadingCtrl")
	h3 Setup

	.list
		label.item.item-input
			input(type="url" placeholder="IP Address" ng-model="ip_address" required)

		button.button.button-block.button-positive(type="button" ng-click="setup(ip_address)") Set Up
