ion-tabs.tabs-positive
	ion-tab(title="Walk In" ui-sref="tabs.tables")
		ion-nav-view(name="tables")
	ion-tab(title="Delivery" ui-sref="tabs.delivery")
		ion-nav-view(name="delivery")
	ion-tab(title="Takeaway" ui-sref="tabs.takeaway")
		ion-nav-view(name="takeaway")